nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px darkgray;
  padding: 6px 10px;
}

.logo {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 6px 9px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
